#title
  background-color: pink
  color: green
#btn1
  background-color: pink
  color blue
.iconfont
  color: purple
#htmlimg
  height: 100px
  width: 100px
  margin: 70px
#box1
  width: 100px
  height: 100px
  background-image: url('../img/publishicon.png')
  background-repeat: none
  background-size: 100% 100%
#box2
  width: 100px
  height: 100px
  background-image: url('../img/userguide.png')
  background-repeat: none
  background-size: 100% 100%
#box3
  width: 100px
  height: 100px
  background-image: url('../img/eye.png')
  background-repeat: none
  background-size: 100% 100%